@using News.Admin.DTO.NewsDto
@model NewsPaginationDto

@{
    ViewData["Title"] = "Index";
}
<h2 class="mb-4 text-primary fw-bold">Welcome, Admin 👋</h2>

<input type="text" id="searchInput" class="form-control w-100 w-md-50" placeholder="Search Item...">
<br>


<div id="newsResult">
    @await Html.PartialAsync("_NewsListPartial", Model)
</div>

@section Scripts {
    <script src="~/js/view-image-small.js"></script>
    <script src="~/js/search-item.js"></script>
}
