@using News.Admin.DTO
@model News.Admin.DTO.NewsPaginationDto

@{
    ViewData["Title"] = "Index";
}

<h2>Welcome Admin</h2>

<input type="text" id="searchInput" class="form-control mb-3" placeholder="Search...">

<div id="newsResult">
    @await Html.PartialAsync("_NewsListPartial", Model)
</div>

@section Scripts {
    <script src="~/js/view-image-small.js"></script>
    <script src="~/js/search-item.js"></script>
}
